/* Global header */

header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
}

.navigationHeader nav, header .networksHeader nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.navigationHeader ul, header .networksHeader ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

/* Navigation */

.navigationHeader {
    width: 100%;
    height: 50px;
    position: relative;
}

.navigationHeader nav ul {
    flex-direction: column;
    position: absolute;
    top: 80px;
}

.navigationHeader a {
    color: var(--thirdColor);
}

.navigationHeader nav li:last-of-type img {
    width: 50px;
    height: 50px;
}

.navigationHeader nav li:not(.navigationHeader nav li:first-of-type, .navigationHeader nav li:last-of-type) {
    display: none;
    width: 100%;
    line-height: 70px;
    background-color: var(--networksPrimary);
    text-align: center;
}

.navigationHeader nav li:not(.navigationHeader nav li:first-of-type, .navigationHeader nav li:last-of-type):hover {
    box-shadow: inset 0 0 5px var(--secondaryColor);
}

.navigationHeader nav li:not(.navigationHeader nav li:first-of-type, .navigationHeader nav li:last-of-type):hover a {
    color: var(--secondaryColor);
}

.navigationHeader nav li:not(.navigationHeader nav li:first-of-type, .navigationHeader nav li:last-of-type).active {
    display: block;
}

.navigationHeader nav li:first-of-type {
    position: absolute;
    top: -70px;
    left: 10px;
}

.navigationHeader nav li:first-of-type img {
    height: 60px;
    width: 105px;
    object-fit: cover;
}

.navigationHeader nav li:first-of-type:hover img {
    filter: saturate(190%);
}

.navigationHeader nav a i {
    display: none;
}

.navigationHeader nav li:last-of-type {
    position: absolute;
    right: 40px;
    top: -80px;
}

.navigationHeader nav li:last-of-type svg {
    fill: var(--thirdColor);
    width: 50px;
    height: 50px;
}

.navigationHeader nav li:last-of-type:hover svg {
    fill: var(--secondaryColor);
}

/* Burger Menu */

.menu {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu .hamburger, .menu .close
{
    width: 30px;
    height: 30px;
    position: absolute;
    display: none;
}

.menu .hamburger.active, .menu .close.active
{
    display: block;
}

/* Networks */

.networksHeader {
    background-color: var(--networksPrimary);
    width: 100%;
    height: 30px;
}

.networksHeader ul {
    justify-content: flex-end;
    gap: 10px;
    padding-inline: 10px;
}

.networksHeader a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--thirdColor);
    border-radius: 5px;
}

/* Hover links */

.navigationHeader a:hover, .navigationHeader a:hover i, .networksHeader a:hover i {
    color: var(--secondaryColor);
}

