/* Create & Update Streamer */
.containerUpdateStreamer main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.containerCreateStreamer form, .containerUpdateStreamer form {
    width: 70%;
    max-width: 800px;
    min-width: 250px;
    height: 400px;
    margin-top: 50px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.containerCreateStreamer form div, .containerCreateStreamer button,
.containerUpdateStreamer form div, .containerUpdateStreamer button {
    position: relative;
    width: 100%;
    border-radius: 15px;
}

.containerCreateStreamer label, .containerCreateStreamer input,
.containerUpdateStreamer label, .containerUpdateStreamer input {
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
}

.containerCreateStreamer label, .containerUpdateStreamer label {
    color: var(--secondaryColor);
}

.containerCreateStreamer input, .containerUpdateStreamer input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--thirdColor);
    outline: 1px solid transparent;
    margin-bottom: 5px;
    padding: 10px 0;
    color: var(--thirdColor);
}

.containerCreateStreamer input[type="file"], .containerUpdateStreamer input[type="file"] {
    color: var(--secondaryColor);
}

.containerCreateStreamer button, .containerUpdateStreamer button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    height: 60px;
    font-size: 1.5rem;
    border: 2px solid var(--thirdColor);
    background-color: var(--secondaryColor);
    box-shadow: inset 0 0 5px #000;
    color: var(--thirdColor);
}

.containerCreateStreamer form + a, .containerUpdateStreamer form + a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    height: 60px;
    font-size: calc(0.7rem + 1vw);
    border: 2px solid var(--thirdColor);
    background-color: var(--thirdColor);
    color: #000;
    font-weight: bold;
    box-shadow: inset 0 0 15px #000;
    margin: auto;
    width: 70%;
    max-width: 800px;
    min-width: 250px;
    border-radius: 15px;
}

.containerCreateStreamer button:hover, .containerCreateStreamer form + a:hover, 
.containerUpdateStreamer button:hover, .containerUpdateStreamer form + a:hover {
    background-color: var(--primaryColor);
    border: 2px solid var(--secondaryColor);
    box-shadow: inset 0 0 15px var(--secondaryColor);
    color: var(--secondaryColor);
}

.containerCreateStreamer button span, .containerUpdateStreamer button span {
    filter: drop-shadow(0 0 1px #000);
}

.containerUpdateStreamer h1 + img {
    width: 200px;
    height: 200px;
    margin: auto;
    filter: drop-shadow(0 0 2px var(--thirdColor));
    border: 2px solid var(--thirdColor);
    padding: 10px;
    border-radius: 50%;
}

/* Delete Streamer */
.containerDeleteStreamer main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerDeleteStreamer form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.containerDeleteStreamer form button {
    width: 250px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 15px;
    border: none;
}

.containerDeleteStreamer form button:first-of-type {
    background-color: var(--thirdColor);
    color: rgba(0,0,0,1);
    box-shadow: inset 0 0 30px #000;
    border: 2px solid var(--thirdColor);
}

.containerDeleteStreamer form button:first-of-type:hover {
    background-color: var(--secondaryColor);
    color: var(--thirdColor);
}

.containerDeleteStreamer form button:first-of-type:hover span {
    filter: drop-shadow(0 0 1px #000);
}

.containerDeleteStreamer form button:last-of-type {
    background-color: rgb(187, 39, 39);
    border: 2px solid var(--thirdColor);
    box-shadow: inset 0 0 30px #000;
}

.containerDeleteStreamer form button:last-of-type:hover {
    background-color: rgb(163, 17, 17);
    color: var(--thirdColor);
}

