<div class="saturday">
    <article>
        <video controls poster="">
            <source src="">
        </video>
        <div class="description">
            <div class="viewAndDate">
                <span>1 000 000 Vues</span>
                <span>09/09/2022 à 01:00:00</span>
            </div>
            <div class="avatarAndTitle">
                <a href="https://www.youtube.com/"><img src="/images/streamers/mister-mv.webp" alt="avatar youtube de "></a>
                <h2>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h2>
            </div>
            <div class="nameStreamersAndActivity">
                <strong>Nom Streamer - <%= "Activité" %>
            </div>
        </div>
    </article>
</div>