<!DOCTYPE html>

<html lang="fr">
    <%- include('../components/head.ejs'); %>
    
    <body>
        <div class="container containerLogin">
            <%- include('../components/header.ejs'); %>
            <main>
                    <% if(errorFindUser) { %>
                        <p><%= errorFindUser %></p>
                    <% } %>
                    <form action="/login/sign" method="POST">
                        
                        <div>
                            <input type="email" name="email" id="email" autocomplete="off" />
                            <label for="email">E-mail</label>
                        </div>

                        <div>
                            <input type="password" name="pswd" id="pswd" autocomplete="off"/>
                            <label for="pswd">Mot de passe</label>
                        </div>

                        <button><span>Se connecter</span></button>

                    </form>
                

            </main>
        </div>
        <script src="https://kit.fontawesome.com/10a6ffe905.js" crossorigin="anonymous"></script>
        <script src="/scripts/header.js"></script>

    </body>
</html>