<!DOCTYPE html>

<html lang="fr">
    <%- include('../../components/head.ejs'); %>
    
    <body>
        <div class="container containerDeleteGame">
            <%- include('../../components/header.ejs'); %>
            <main>  
                <% if(game) { %>
                    <h1>Suppression de <%= game.name %></h1>
                    <h2>Êtes-vous sûr de vouloir supprimer cet historique ?</h2>

                    <form action="/games/<%= game._id %>/delete?_method=DELETE" method="POST">
                        <a href="/games"><span>Annuler</span></a>
                        <button><span>Confirmer</span></button>
                    </form>
                <% } %>
             
            </main>
        </div>

        <script src="https://kit.fontawesome.com/10a6ffe905.js" crossorigin="anonymous"></script>
        <script src="/scripts/header.js" type="text/js"></script>

    </body>
</html>