<!DOCTYPE html>

<html lang="fr">
    <%- include('./components/head.ejs'); %>

    <body>
        <div class="container">
            <%- include('./components/header.ejs'); %>
            <main>
                <h1>Les associations</h1>
            </main>

        </div>

        <script src="https://kit.fontawesome.com/10a6ffe905.js" crossorigin="anonymous"></script>
        <script src="scripts/header.js"></script>

    </body>
</html>