<!DOCTYPE html>

<html lang="fr">
    <%- include('./components/head.ejs'); %>
    
    <body>
        <div class="container containerClips">
            <%- include('./components/header.ejs'); %>
            <main>

                <div class="sidebar">
                    <nav>
                        <ul>
                            <li><a href="/donate" class="active">
                                <span>Faire un don</span>
                            </a></li>
                            <li><a href="/shop">
                                <span>La boutique</span>
                            </a></li>
                        </ul>
                    </nav>
                    <button><span>Tops</span></button>
                    <button><span>Best of</span></button>
                    <button><span>Tops par streamers</span></button>
                    <button><span>Récents</span></button>
                    <button><span>Jeux</span></button>
                </div>

                <div class="buttonTabsClips">
                    <button>
                        <img src="/images/header/hamburger.svg" alt="Afficher la sidebar" class="open" />
                        <img src="/images/header/close.svg" alt="Masquer la sidebar" class="close"/>
                    </button>
                    <button class="active"><span>Tout le week-end</span></button>
                    <button><span>Vendredi</span></button>
                    <button><span>Samedi</span></button>
                    <button><span>Dimanche</span></button>
                </div>

                <section class="all active">
                    <h1>Les plus vues</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h3>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h3>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                        <% for(let i = 0; i < 24 ; i++) { %>
                            <article>
                                <video src="" controls></video>
                                <div class="description">
                                    <p class="viewsAndTime">
                                        <span>1 000 000 vues</span>
                                        <span>01/01/2023 à 11:00</span>
                                    </p>
                                    <div class="avatarAndTitle">
                                        <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                        <h3>Title</h3>
                                    </div>
                                    <p class="nameAndActivity">
                                        <span>Nom streamer</span> -
                                        <span>Activité</span>
                                    </p>
                                </div>
                            </article>
                        <% } %>
                    </div>
                </section>

                <section class="friday">
                    <h1>Les plus vues vendredi</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h3>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h3>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                        <% for(let i = 0; i < 24 ; i++) { %>
                            <article>
                                <video src="" controls></video>
                                <div class="description">
                                    <p class="viewsAndTime">
                                        <span>1 000 000 vues</span>
                                        <span>01/01/2023 à 11:00</span>
                                    </p>
                                    <div class="avatarAndTitle">
                                        <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                        <h3>Title</h3>
                                    </div>
                                    <p class="nameAndActivity">
                                        <span>Nom streamer</span> -
                                        <span>Activité</span>
                                    </p>
                                </div>
                            </article>
                        <% } %>
                    </div>
                </section>

                <section class="saturday">
                    <h1>Les plus vues samedi</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h3>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h3>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                        <% for(let i = 0; i < 24 ; i++) { %>
                            <article>
                                <video src="" controls></video>
                                <div class="description">
                                    <p class="viewsAndTime">
                                        <span>1 000 000 vues</span>
                                        <span>01/01/2023 à 11:00</span>
                                    </p>
                                    <div class="avatarAndTitle">
                                        <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                        <h3>Title</h3>
                                    </div>
                                    <p class="nameAndActivity">
                                        <span>Nom streamer</span> -
                                        <span>Activité</span>
                                    </p>
                                </div>
                            </article>
                        <% } %>
                    </div>
                </section>

                <section class="sunday">
                    <h1>Les plus vues dimanche</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h3>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h3>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                        <% for(let i = 0; i < 24 ; i++) { %>
                            <article>
                                <video src="" controls></video>
                                <div class="description">
                                    <p class="viewsAndTime">
                                        <span>1 000 000 vues</span>
                                        <span>01/01/2023 à 11:00</span>
                                    </p>
                                    <div class="avatarAndTitle">
                                        <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                        <h3>Title</h3>
                                    </div>
                                    <p class="nameAndActivity">
                                        <span>Nom streamer</span> -
                                        <span>Activité</span>
                                    </p>
                                </div>
                            </article>
                        <% } %>
                    </div>
                </section>

                <section class="tops">
                    <h1>Les tops</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h3>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h3>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                        <% for(let i = 0; i < 24 ; i++) { %>
                            <article>
                                <video src="" controls></video>
                                <div class="description">
                                    <p class="viewsAndTime">
                                        <span>1 000 000 vues</span>
                                        <span>01/01/2023 à 11:00</span>
                                    </p>
                                    <div class="avatarAndTitle">
                                        <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                        <h3>Title</h3>
                                    </div>
                                    <p class="nameAndActivity">
                                        <span>Nom streamer</span> -
                                        <span>Activité</span>
                                    </p>
                                </div>
                            </article>
                        <% } %>
                    </div>
                </section>

                <section class="bestof">
                    <h1>Les plus vues heure par heure</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h3>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h3>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                        <% for(let i = 0; i < 24 ; i++) { %>
                            <article>
                                <video src="" controls></video>
                                <div class="description">
                                    <p class="viewsAndTime">
                                        <span>1 000 000 vues</span>
                                        <span>01/01/2023 à 11:00</span>
                                    </p>
                                    <div class="avatarAndTitle">
                                        <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                        <h3>Title</h3>
                                    </div>
                                    <p class="nameAndActivity">
                                        <span>Nom streamer</span> -
                                        <span>Activité</span>
                                    </p>
                                </div>
                            </article>
                        <% } %>
                    </div>
                </section>

                <section class="topstreamers">
                    <h1>Les plus vues par streamers</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h3>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h3>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                        <% for(let i = 0; i < 24 ; i++) { %>
                            <article>
                                <video src="" controls></video>
                                <div class="description">
                                    <p class="viewsAndTime">
                                        <span>1 000 000 vues</span>
                                        <span>01/01/2023 à 11:00</span>
                                    </p>
                                    <div class="avatarAndTitle">
                                        <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                        <h3>Title</h3>
                                    </div>
                                    <p class="nameAndActivity">
                                        <span>Nom streamer</span> -
                                        <span>Activité</span>
                                    </p>
                                </div>
                            </article>
                        <% } %>
                    </div>
                </section>

                <section class="recents">
                    <h1>Les plus récents</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h3>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h3>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                        <% for(let i = 0; i < 24 ; i++) { %>
                            <article>
                                <video src="" controls></video>
                                <div class="description">
                                    <p class="viewsAndTime">
                                        <span>1 000 000 vues</span>
                                        <span>01/01/2023 à 11:00</span>
                                    </p>
                                    <div class="avatarAndTitle">
                                        <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                        <h3>Title</h3>
                                    </div>
                                    <p class="nameAndActivity">
                                        <span>Nom streamer</span> -
                                        <span>Activité</span>
                                    </p>
                                </div>
                            </article>
                        <% } %>
                    </div>
                </section>

                <section class="games">
                    <h1>Les jeux</h1>
                    <div class="clips">
                        <article>
                            <a href="">
                                <img src="" alt="">
                                <p>Nom du jeu</p>
                            </a>
                        </article>
                        <% for(let i = 0; i < 24 ; i++) { %>
                            <article>
                                <a href="">
                                    <img src="" alt="">
                                    <p>Nom du jeu</p>
                                </a>
                            </article>
                        <% } %>
                    </div>
                </section>

                
            </main>
        </div>

        <script src="https://kit.fontawesome.com/10a6ffe905.js" crossorigin="anonymous"></script>
        <script src="/scripts/header.js"></script>
        <script src="/scripts/clips.js"></script>

        <!-- <script type="module" src="scripts/clips.js"></script> -->

    </body>
</html>