<!DOCTYPE html>

<html lang="fr">
    <%- include('../components/head.ejs'); %>
    
    <body>
        <div class="container containerAdmin">
            <%- include('../components/header.ejs'); %>
            <main>  
                <h1>Admin Dashboard</h1>

                <div>
                    <section class="usersAdmin">
                        <h2>Utilisateurs</h2>
                        <ul><li><a href="/users?page=1">Liste</a></li></ul>
                    </section>

                    <section class="historicsAdmin">
                        <h2>Historiques</h2>
                        <ul><li><a href="/historics?page=1">Liste</a></li></ul>
                    </section>

                    <section class="streamersAdmin">
                        <h2>Streamers</h2>
                        <ul><li><a href="/streamers?page=1">Liste</a></li></ul>
                    </section>

                    <section class="gamesAdmin">
                        <h2>Jeux-vidéos</h2>
                        <ul><li><a href="/games?page=1">Liste</a></li></ul>
                    </section>

                    
                </div>

            </main>
        </div>

        <script src="https://kit.fontawesome.com/10a6ffe905.js" crossorigin="anonymous"></script>
        <script src="/scripts/header.min.js"></script>

    </body>
</html>