<!DOCTYPE html>

<html lang="fr">
    <%- include('../../components/head.ejs'); %>
    
    <body>
        <div class="container containerDeleteStreamer">
            <%- include('../../components/header.ejs'); %>
            <main>  
                <% if(streamer) { %>
                    <h1>Suppression de <%= streamer.name %></h1>
                    <h2>Êtes-vous sûr de vouloir supprimer ce streamer ?</h2>

                    <form action="/streamers/<%= streamer._id %>/delete?_method=DELETE" method="POST">
                        <button class="back"><span>Annuler</span></button>
                        <button><span>Confirmer</span></button>
                    </form>
                <% } %>
             
            </main>
        </div>

        <script src="https://kit.fontawesome.com/10a6ffe905.js" crossorigin="anonymous"></script>
        <script src="/scripts/header.js" type="text/js"></script>
        <script src="/scripts/streamers.js" type="text/js"></script>

    </body>
</html>