*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    z-index: auto;
}

:root {
    --primaryColor : rgba(32,32,32,1);
    --secondaryColor : rgba(112,208,56,1);
    --thirdColor : rgba(255,255,255,1);
    --networksPrimary : rgba(16,16,16, 1);
    --networksSecondary: rgba(255,255,255,1);
    --historicsBorder : rgba(255,255,255,0.2);
    --streamers : rgba(0,0,0,1);
    --fontTitle: 'Caveat', cursive;
    --fontText: 'Quicksand', Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: var(--fontText);
    background-color: var(--primaryColor);
    color: var(--thirdColor);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fontTitle);
    text-align: center;
}

h1 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}

h2 {
    font-size: calc(1.7rem + 1.3vw);
}

h3 {
    font-size: calc(1.3rem + 1.1vw);
}

h4 {
    font-size: calc(1rem + 0.9vw);
}

body::-webkit-scrollbar
{
    background-color: #000;
    width: 5px;
}

body::-webkit-scrollbar-thumb
{
    background-color: var(--secondaryColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

a, strong, h3 {
    color: var(--thirdColor);
    text-decoration: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

i {
    color: var(--thirdColor);
}

svg {
    color: var(--networksSecondary)
}

main {
    width: 100%;
    flex-grow: 1;
    padding: 20px 10px;
}

button {
    cursor: pointer;
}

.error, .success {
    font-size: 1.2em;
    font-weight: bold;
}

.success {
    color: #05f671;
}

.error {
    color: #ef0808;
}