/* Global header */

header {
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    z-index: 2;
}

:is(.navigationHeader, .networksHeader) nav {
    display: flex;
    align-items: center;
    height: 100%;
}

:is(.navigationHeader, .networksHeader) ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

/* Navigation */

.navigationHeader {
    width: 100%;
    height: 60px;
    position: relative;
}

.navigationHeader nav ul {
    flex-direction: column;
    position: absolute;
    top: 90px;
}

.navigationHeader a {
    color: var(--thirdColor);
    font-size: 1.3rem;
}

.navigationHeader nav li.cart img {
    width: 50px;
    height: 50px;
}

.navigationHeader nav li:not(:is(:first-of-type, .cart)) {
    display: none;
    width: 100%;
    line-height: 70px;
    background-color: var(--networksPrimary);
    text-align: center;
}

.navigationHeader nav li:not(:is(:first-of-type, .cart)):hover {
    box-shadow: inset 0 0 5px var(--secondaryColor);
}

.navigationHeader nav li:not(:is(:first-of-type, .cart)):hover a {
    color: var(--secondaryColor);
}

.navigationHeader nav li:not(:is(:first-of-type, .cart)).active {
    display: block;
}

.navigationHeader nav li:first-of-type {
    position: absolute;
    top: -70px;
    left: 10px;
}

.navigationHeader nav li:first-of-type img {
    height: 60px;
    width: 105px;
    object-fit: cover;
}

.navigationHeader nav li:first-of-type:hover img {
    filter: saturate(190%);
}

.navigationHeader nav a i {
    display: none;
}

.navigationHeader nav li.cart {
    position: absolute;
    right: 50px;
    top: -90px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationHeader nav li.cart svg {
    fill: var(--thirdColor);
    width: 50px;
    height: 50px;
}

.navigationHeader nav li.cart:hover svg {
    fill: var(--secondaryColor);
}

.navigationHeader nav li span {
    filter: drop-shadow(0 0 1px #000);
}

/* Burger Menu */
.menu {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu :is(.hamburger, .close) {
    width: 30px;
    height: 30px;
    position: absolute;
    display: none;
}

.menu :is(.hamburger.active, .close.active) {
    display: block;
}

/* Networks */

.networksHeader {
    background-color: var(--networksPrimary);
    width: 100%;
    height: 30px;
}

.networksHeader ul {
    justify-content: flex-end;
    gap: 10px;
    padding-inline: 10px;
}

.networksHeader a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--thirdColor);
    border-radius: 5px;
}

.networksHeader li:hover a {
    background-color: var(--secondaryColor);
}

/* Hover links */
.navigationHeader :is(a:hover, a:hover i) {
    color: var(--secondaryColor);
}

/* Logout */
.navigationHeader button {
    background-color: transparent;
    border: none;
}

.navigationHeader .logout i {
    color: var(--secondaryColor);
}

.navigationHeader .logout:hover i {
    color: rgb(255, 0, 0);
}

dialog {
    margin: auto;
    min-width: 250px;
    height: 250px;
    backdrop-filter: blur(8px);
    border: 2px solid var(--secondaryColor);
    box-shadow: inset 0 0 5px var(--secondaryColor), 0 0 5px var(--secondaryColor);
    background-color: transparent;
    border-radius: 15px;
    position: relative;
}

dialog::backdrop {
    background: rgba(0,0,0,0.5);
}

.closeModal {
    position: absolute;
    top: 5px;
    right: 5px;
    width: fit-content;
    padding: 5px 10px;
    margin-left: auto;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

dialog p {
    color: var(--thirdColor);
    text-align: center;
    width: 90%;
    margin: 50px auto 30px;
    font-weight: bold;
}

dialog form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

dialog form :is(button, .closeModal) {
    margin-left:0;
    width: 200px;
    height: 50px;
    padding: 5px 0;
    position: static;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.5em;
}

dialog form button {
    background-color: rgb(255,0,0);
}

dialog form .closeModal {
    background-color: var(--thirdColor);
}

dialog form button:hover {
    background-color: rgb(163, 17, 17);
    color: var(--thirdColor);
}

.closeModal:hover {
    background-color: var(--secondaryColor);
    color: var(--thirdColor);
}