<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="ZEvent est un projet caritatif en 2 parties, showcase qui fait office d'amorce, marathon de streaming, pour soutenir une association caritative" />
        <link rel="shortcut icon" href="/images/zevent/zevent-favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/styles/style.min.css" type="text/css" />
        <title>ZEvent 2022 - Du 9 au 11 septembre 2022 - Les clips</title>
    </head>
    <body>
        <div class="container containerClips">
            <header class="classicHeader"></header>
            <main>

                <div class="sidebar">
                    <nav>
                        <ul>
                            <li><a href="/donate" class="active">
                                <span>Faire un don</span>
                            </a></li>
                            <li><a href="/shop">
                                <span>La boutique</span>
                            </a></li>
                        </ul>
                    </nav>
                    <button><span>Tops</span></button>
                    <button><span>Best of</span></button>
                    <button><span>Tops par streamers</span></button>
                    <button><span>Récents</span></button>
                    <button><span>Jeux</span></button>
                </div>

                <div class="buttonTabsClips">
                    <button>
                        <img src="/images/header/hamburger.svg" alt="Afficher la sidebar" class="open" />
                        <img src="/images/header/close.svg" alt="Masquer la sidebar" class="close"/>
                    </button>
                    <button class="active"><span>Tout le week-end</span></button>
                    <button><span>Vendredi</span></button>
                    <button><span>Samedi</span></button>
                    <button><span>Dimanche</span></button>
                </div>

                <section class="all active">
                    <h1>Les plus vues</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h2>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h2>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                        
                    </div>
                </section>

                <section class="friday">
                    <h1>Les plus vues vendredi</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h2>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h2>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="saturday">
                    <h1>Les plus vues samedi</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h2>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h2>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="sunday">
                    <h1>Les plus vues dimanche</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h2>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h2>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="tops">
                    <h1>Les tops</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h2>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h2>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="bestof">
                    <h1>Les plus vues heure par heure</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h2>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h2>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="topstreamers">
                    <h1>Les plus vues par streamers</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h2>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h2>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="recents">
                    <h1>Les plus récents</h1>
                    <div class="clips">
                        <article>
                            <video src="" controls></video>
                            <div class="description">
                                <p class="viewsAndTime">
                                    <span>1 000 000 vues</span>
                                    <span>01/01/2023 à 11:00</span>
                                </p>
                                <div class="avatarAndTitle">
                                    <img src="/images/streamers/mister-mv.webp" alt="avatar de mister mv">
                                    <h2>bigard + alien = ALLAALLALALA (+ flop d'étoiles)</h2>
                                </div>
                                <p class="nameAndActivity">
                                    <span>Nom streamer</span> -
                                    <span>Activité</span>
                                </p>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="games">
                    <h1>Les jeux</h1>
                    <div class="clips">
                        
                    </div>
                </section>

                
            </main>

        </div>

        <script src="https://kit.fontawesome.com/10a6ffe905.js" crossorigin="anonymous"></script>
        <script src="/scripts/header.min.js"></script>
        <script src="/scripts/clips.min.js"></script> 
    </body>
</html>