<header class="headerAdmin">
    <div class="navigationHeader">
        <nav>
            
            <ul>
                <li>
                    <a href="<%= token ? `/admin` : `/`%>">
                        <img src="/images/zevent/zevent-logo-105x60.webp" alt="Link for go to Home page" />
                    </a>
                </li>
                <li>
                    <a href="http://localhost:3003" aria-label="Link for go to Statistics page" target="_blank">
                        <span>Site</span>
                        <i class="fa-solid fa-house fa-2x"></i>
                    </a>
                </li>
                <% if(token) { %>    
                    <li>
                        <a href="<%= token ? `/admin` : `/`%>" aria-label="Link for go to Statistics page">
                            <span>Dashboard</span>
                            <i class="fa-solid fa-screwdriver-wrench fa-2x"></i>
                        </a>
                    </li>
                    <li class="cart logout">
                        <button class="disconnect">
                            <i class="fa-solid fa-power-off fa-2x"></i>
                        </button>
                    </li>
                <% } %>
            </ul>

        </nav>
        <div class="menu">
            <img src="/images/header/hamburger.svg" alt="Afficher menu" class="hamburger active" />
            <img src="/images/header/close.svg" alt="Fermer menu" class="close" />
        </div>
    </div>
    
    <div class="networksHeader">
        <nav>
            <ul>
                <li><a href="https://twitter.com/ZEventfr" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/zeventfr/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.reddit.com/r/ZEvent/" aria-label="Reddit"><i class="fa-brands fa-reddit-alien"></i></a></li>
            </ul>
        </nav>
    </div>
</header>

<dialog>
    <button class="closeModal">X</button>
    <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
    <form action="/logout" method="POST">
        <button class="closeModal">Annuler</button>
        <button>Confirmer</button>
    </form>
</dialog>