<header>
    <div class="navigationHeader">
        <nav>
            <ul>
                <li>
                    <a href="/admin">
                        <img src="/images/zevent/zevent-logo-105x60.webp" alt="Link for go to Home page" />
                    </a>
                </li>
                <li>
                    <a href="/admin" aria-label="Link for go to Statistics page">
                        <span>Dashboard</span>
                        <i class="fa-solid fa-bars-progress fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="/users" aria-label="Link for go to Statistics page">
                        <span>Utilisateurs</span>
                        <i class="fa-solid fa-bars-progress fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="/historics" aria-label="Link for go to Statistics page">
                        <span>Historiques</span>
                        <i class="fa-solid fa-bars-progress fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="/streamers" aria-label="Link for go to Statistics page">
                        <span>Streamers</span>
                        <i class="fa-solid fa-bars-progress fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="/games" aria-label="Link for go to Statistics page">
                        <span>Jeux</span>
                        <i class="fa-solid fa-bars-progress fa-2x"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu">
            <img src="/images/header/hamburger.svg" alt="Afficher menu" class="hamburger active" />
            <img src="/images/header/close.svg" alt="Fermer menu" class="close" />
        </div>
    </div>
    
    <div class="networksHeader">
        <nav>
            <ul>
                <li><a href="https://twitter.com/ZEventfr" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/zeventfr/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.reddit.com/r/ZEvent/" aria-label="Reddit"><i class="fa-brands fa-reddit-alien"></i></a></li>
            </ul>
        </nav>
    </div>
</header>