<!DOCTYPE html>

<html lang="fr">
    <%- include('../../components/head.ejs'); %>
    
    <body>
        <div class="container containerDeleteUser">
            <%- include('../../components/header.ejs'); %>
            <main>  
                <% if(user) { %>
                    <h1>Suppression de <%= user.lastname + ' ' + user.firstname %></h1>
                    <h2>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</h2>

                    <form action="/users/<%= user._id %>/delete?_method=DELETE" method="POST">
                        <a href="/users"><span>Annuler</span></a>
                        <button><span>Confirmer</span></button>
                    </form>
                <% } %>
             
            </main>
        </div>

        <script src="https://kit.fontawesome.com/10a6ffe905.js" crossorigin="anonymous"></script>
        <script src="/scripts/header.min.js" type="text/js"></script>

    </body>
</html>